.event {
  margin-bottom: 150px;
  overflow: hidden;
}

.event .inner h2 {
  color: #333;
  margin-bottom: 40px;
  text-align: center;
}
.event-slide {
  padding: 0 30px;
  width: 100%;
}
.event .section-slide {
}
.sw-event .swiper-slide {
  width: 448px;
}
.event-link {
  display: block;
  color: #222;
  line-height: 1.3;
}

.sw-event .event-link img {
  width: 448px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  object-fit: contain;
}

.event-link-title {
  font-size: 22px;
  font-weight: 700;
  padding: 0 10px;
  text-align: left;
  letter-spacing: -0.02;
  margin-top: 35px;
}

.event-link-desc {
  font-size: 18px;
  padding: 0 10px;
  text-align: left;
  letter-spacing: -0.02;
  margin-top: 3px;
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1000px) {
  .event > .inner > h2 {
    font-size: 22px;
    text-align: center;
  }
}

@media screen and (max-width: 530px) {
.sw-event .swiper-slide {
  width: 420px;
}
.sw-event .event-link img {
  width: 420px;
}
}