.footer {
  position: relative;
  width: 100%;
  height: 600px;
  background: #fafafa;
  padding: 100px 20px 30px;
  border-top: 1px solid #f0f0f0;
  padding-bottom: 30px;
}
.footer-top-call {
  height: 200px;
}
.call {
  display: flex;
  align-items: center;
}
.call span {
  font-size: 17px;
}
.call strong {
  font-size: 30px;
  font-weight: 700;
  color: #14008c;
  padding-left: 20px;
  letter-spacing: -0.6px;
  line-height: 25px;
}

.subcall {
  color: #757575;
  margin-top: 55px;
  line-height: 26px;
  white-space: nowrap;
}
.subcall-list-left,
.subcall-list-right {
  width: 310px;
  float: left;
}
.list-subtitle {
  width: 110px;
}
.list-number {
  width: 200px;
  margin-left: 20px;
}

.footer-sns {
  margin-top: -40px;
  float: right;
}
.sns-btns {
  display: flex;
  width: 275px;
  justify-content: space-between;
}

.footerlogo img {
  max-width: 130px;
  height: 30px;
}
.footerinfo {
  position: relative;
  margin-top: 20px;
}

.siteinfo-list li {
  float: left;
  margin-right: 30px;
}
.siteinfo-list li a {
  font-size: 15px;
  color: #757575;
}
.siteinfo-list strong {
  font-weight: 700;
}
.subsiteinfo {
  font-size: 14px;
  color: #757575;
  margin-top: 20px;
  line-height: 25px;
}
.subsiteinfo li {
  float: left;
  margin-right: 20px;
}
.subsiteinfo li:nth-child(3) {
  float: unset;
}
.license {
  font-size: 11px;
  color: #fff;
  background: #aaa;
  padding: 1px 6px 3px;
  margin-left: 5px;
}

.copy {
  font-size: 12px;
  color: rgb(85, 85, 85);
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 12px;
  font-family: "NanumGhotic";
}

.familysite {
  position: absolute;
  top: 0;
  right: 0;
}
.footer-arr {
  position: absolute;
  top: 27px;
  right: 27px;
  display: block;
  width: 11px;
  height: 6px;
  background: url("../img/selectbt.jpg") no-repeat center;
}
select {
  font-size: 13px;
  font-weight: 300;
  width: 290px;
  height: 60px;
  background: url("../img/selectbt.jpg") calc(100% - 30px) center no-repeat;
  background: #f6f6f6;
  border: 1px solid #e0e0e0;
  margin: 0;
  padding: 0 30px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  line-height: 60px;
  cursor: pointer;
}
select:hover {
  background: #fff;
}

select:focus {
  color: #222;
  border-color: #aaa;
  box-shadow: 0;
  outline: none;
}
select:disabled {
  opacity: 0.5;
}

select > option {
  background: #fff;
  padding: 5px 0;
}

@media screen and (max-width: 1000px) {
  .footer {
    height: 850px;
    padding: 70px 20px 120px;
  }
  .subcall {
    margin-top: 30px;
    line-height: 26px;
  }
  .footerlogo {
    margin-top: 10px;
  }

  .subsiteinfo {
    display: block;
    position: absolute;
    top: -30px;
    left: 0;
  }
  .subsiteinfo li:nth-child(3) {
    float: left;
  }
  .copy {
    position: absolute;
    top: 10px;
    left: 0;
  }
  .siteinfo {
    position: absolute;
    top: 100px;
    left: 0;
  }

  .siteinfo-list li {
    padding: 9px 0;
    float: none;
  }

  .footer-top-sosial {
    display: block;
    position: absolute;
    width: 100%;
    top: 480px;
    left: 0;
  }
  .familysite {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin-top: 60px;
  }
  select {
    width: 100%;
  }
  .footer-sns {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .sns-btns img {
    width: 50px;
    height: 50px;
    margin: 0 5px;
  }
}

@media screen and (max-width: 760px) {
  .subcall-list-left,
  .subcall-list-right {
    float: none;
  }
}
@media screen and (max-width: 660px) {
  .footer {
    height: 950px;
  }
  .copy {
    position: absolute;
    top: 40px;
    left: 0;
  }
  .siteinfo {
    position: absolute;
    top: 120px;
    left: 0;
  }
  .footer-top-sosial {
    display: block;
    position: absolute;
    width: 100%;
    top: 560px;
    left: 0;
  }
}
