.footer {
  position: relative;
  width: 100%;
  height: 600px;
  border-top: 1px solid #f0f0f0;
  padding: 100px 20px 30px ;
  padding-bottom: 30px;
  background: #fafafa;
}
.call {
  display: flex;
  align-items: center;
}
.call span {
  font-size: 17px;
}
.call strong {
  font-size: 30px;
  font-weight: 700;
  color: #14008c;
  padding-left: 20px;
  letter-spacing: -0.6px;
  line-height: 25px;
}
.subcall {
  margin-top: 55px;
  line-height: 26px;
  color: #757575;
}
.list-subtitle {
  display: inline-block;
  width: 110px;
}
.list-number {
  display: inline-block;
  width: 220px;
}

.footer-sns {
  float: right;
}
.sns-btns {
  display: flex;
  justify-content: space-between;
  width: 275px;
}
.footerlogo {
  margin-top: 70px;
}
.footerlogo img {
  max-width: 130px;
  height: 30px;
}
.footerinfo {
  position: relative;
  margin-top: 20px;
}
.siteinfo-list li {
  float: left;
  margin-right: 30px;
}
.siteinfo-list li a {
  font-size: 15px;
  color: #757575;
}
.siteinfo-list strong {
  font-weight: 700;
}
.subsiteinfo {
  margin-top: 20px;
  font-size: 14px;
  color: #757575;
  line-height: 25px;
}
.subsiteinfo li {
  float: left;
  margin-right: 20px;
}
.subsiteinfo li:nth-child(3) {
  float: unset;
}
.license {
  font-size: 11px;
  color: #fff;
  background: #aaa;
  padding: 1px 6px 3px;
  margin-left: 5px;
}
.copy {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 12px;
  font-family: "NanumGhotic";
  color: rgb(85, 85, 85);
}


.familysite {
  position: absolute;
  top: 0;
  right: 0;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  
  height: 60px;
  width: 290px;
  font-family: "noto sans kr";
  font-weight: 300;
  font-size: 12px;
  line-height: 60px;

  background: url("../img/selectbt.jpg") calc(100% - 30px) center no-repeat;
  background: #f6f6f6;
  padding: 0 30px;
  margin: 0;

  border: 1px solid #e0e0e0;
  cursor: pointer;
}
select:hover {
  background: #FFF;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0;
  color: #222;
  outline: none;
}
select:disabled {
  opacity: 0.5;
}

select > option {
  background: #fff;
  padding: 5px 0;
}





@media screen and (max-width:1000px) {
  .footer {
    padding: 70px 20px 120px;
  }
  .subcall {
    margin-top: 30px;
    line-height: 26px;
  }
  .footerlogo {
    margin-top: 50px;
  }

.subsiteinfo {
  display: block;
  position: absolute;
  top: -30px;
  left: 0;
}
.subsiteinfo li:nth-child(3) {
  float: left;
}
.copy {
  position: absolute;
  top: 10px;
  left: 0;
}
.siteinfo {
  position: absolute;
  top: 100px;
  left: 0;
}

.siteinfo-list li {
  float: none;
  padding: 9px 0;
}

.footer-top-sosial {
    width: 100%;
    position: absolute;
    top: 480px;
    left: 0;
    display: block;
  }
  .familysite {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 30px;
  margin-top: 60px;
  }
  select {
    width: 100%;
}
  .footer-sns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
  }
  .sns-btns img {
    width: 50px;
    height: 50px;
    margin: 0 5px;
  }
}

@media screen and (max-width:640px) {
  .footer {
    height: 950px;
  }
  .copy {
    position: absolute;
    top: 40px;
    left: 0;
  }
  .siteinfo {
    position: absolute;
    top: 120px;
    left: 0;
  }
.footer-top-sosial {
    width: 100%;
    position: absolute;
    top: 560px;
    left: 0;
    display: block;
  }
}