/* 헤더상단 */

.header {
  /* position: absolute; */
  position: relative;
  margin-bottom: 150px;
}

.header-top {
  height: 60px;
  background: rgba(0, 0, 0, 0.05);
}

/* 최상단 링크 */
.header-top-link {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  height: 60px;
  align-content: flex-start;
  align-items: flex-end;
}

.offline {
  display: flex;
  width: 240px;
  height: 55px;
  background: #fff;
  border-radius: 15px 15px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.3;
}
.offline b {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.offline p {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #14008c;
}

.online {
  display: flex;
  width: 240px;
  height: 55px;
  border-radius: 15px 15px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.3;
}

.online b {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}
.online p {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

/* 마이페이지 */
.header-top-menu {
  color: #555555;
}
.header-mypage-list {
  display: flex;
  position: absolute;
  font-size: 12px;
  width: 270px;
  top: 25px;
  right: 250px;
  float: right;
  justify-content: space-between;
}
.header-mypage-list li {
  float: left;
}

/* 헤더바텀 */
.header-bottom {
  position: relative;
}

.header-main {
}
/* 헤더로고 */
.header-logo {
  height: 90px;
  text-align: center;
}
.header-logo img {
  display: inline-block;
  width: 175px;
  height: 26px;
  margin: 40px 0 25px 0;
}

/* 헤더메뉴 */
.gnb {
  display: flex;
  position: relative;
  padding-top: 4px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
}
.header-main {
  max-width: 1400px;
  margin: 0 auto;
}
.header-mainmenu {
  display: flex;
  width: 163px;
  height: 40px;
  justify-content: space-between;
  white-space: nowrap;
}

.header-mainmenu > li {
}

.header-mainmenu > li > a {
  display: inline-block;
  font-size: 18px;
  color: #222222;
  padding: 8px 0;
}

.category-hover {
  display: block;
  font-size: 18px;
  height: 40px;
}

.category-hover::before {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../img/cate_icon.png") no-repeat center;
  content: "";
  vertical-align: -6px;
  margin-right: 10px;
}

.dropdown-menu {
  /* display: none; */
  /* display: block; */
  position: absolute;
  width: 100%;
  height: 480px;
  top: 60px;
  background: #fff;
  z-index: 99;
  border-bottom: 1px solid #999;
}
.dropdown-cate {
  position: relative;
  width: 200px;
  padding-top: 20px;
}
.dropdown-menu li {
}

.dropdown-menu li a {
  font-size: 16px;
  line-height: 45px;
}
.right-arr {
  content: "";
  display: none;
  /* display: block; */
  float: right;
  /* margin-right: 20px; */
  width: 40px;
  height: 40px;
  background: url("../img/right-arr12.png") no-repeat center;
  transform: translateY(5%);
  background-size: none;
}
.dropdown-sub {
  position: absolute;
  /* position: relative; */
  /* display: none; */
  /* display: block; */
  top: 20px;
  left: 200px;
  width: 1200px;
  height: 480px;
  padding-top: 20px;
}

.dropdown-sub ul {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.dropdown-sub li {
  /* display: none; */

}
.dropdown-sub li a {
  font-size: 16px;
  line-height: 45px;
  padding-left: 30px;
}

.header-mainmenu:hover .dropdown-menu {
  display: block;
}

.bed-hover:hover .right-arr {  display: block;}

.mat-hover:hover .right-arr {
  display: block;
}
.closet-hover:hover .right-arr {
  display: block;
}
.sofa-hover:hover .right-arr {
  display: block;
}
.kitc-hover:hover .right-arr {
  display: block;
}
.desk-hover:hover .right-arr {
  display: block;
}
.kid-hover:hover .right-arr {
  display: block;
}
.warm-hover:hover .right-arr {
  display: block;
}

/* 검색창 */
.search {
  position: absolute;
  top: 150px;
  right: 250px;
  width: 220px;
  height: 40px;
}
.header-search {
  border-bottom: 1px solid #000;
  overflow: hidden;
  padding: 0px 10px;
}
.search-text {
  height: 35px;
  width: 150px;
  border: 0;
  outline: 0;
  padding: 0 10px;
  font-size: 14px;
  line-height: 35px;
  font-weight: 400;
}
.search-text::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 800;
  letter-spacing: -0.4px;
}
.search-bt {
  width: 20px;
  height: 20px;
  background: url("../img/search.png") no-repeat center;
  background-size: contain;
  border: 0;
  vertical-align: middle;
  cursor: pointer;
}

.header-submenu {
  display: flex;
  font-size: 18px;
  width: 584px;
  height: 40px;
  padding: 10px 0;
  justify-content: space-between;
}
.header-submenu li {
  position: relative;
  height: 40px;
  float: left;
}
.header-submenu li a {
  color: #222222;
}
.header-submenu li:last-child {
  padding-right: 50px;
}

.red-dot {
  position: absolute;
  width: 4px;
  height: 4px;
  top: -5px;
  right: -5px;
  background: #e32e07;
  border-radius: 50%;
}
