/* 헤더상단 */

.header {
  /* position: absolute; */
  position: relative;
  /* margin-bottom: 150px; */
 }
 
 .header-top {
  height: 60px;
  background: rgba(0, 0, 0, 0.05);
 }
 
 /* 최상단 링크 */
 .header-top-link {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -700px;
  height: 60px;
 }
 .header-top-link a {
  line-height: 1.3;
 }
 
 .offline {
  display: inline-block;
  text-align: center;
  width: 240px;
  height: 55px;
  background: #fff;
  border-radius: 15px 15px 0 0;
 }
 
 .offline b {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #000;
 }
 .offline p {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #14008c;
 }
 
 .online {
  display: inline-block;
  text-align: center;
  width: 240px;
  height: 55px;
 }
 
 .online b {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
 }
 .online p {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
 }
 
 /* 마이페이지 */
 .header-top-menu {
  /* color: #555555; */
  position: absolute;
  top: 23px;
  right: 50%;
  margin-right: -700px;
 }
 .header-mypage-list {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  /* width: 270px; */
  /* float: right;
  justify-content: space-between; */
  /* margin: -36px 0px; */
 }
 .header-mypage-list li {
  margin-left: 30px;
  float: left;
 }
 /* 1400px이하 */
 .header-1400px {
  display: none;
 }
 .right-1400px {
 }
 .logo-1400px > img {
  position: relative;
  width: 130px;
  height: 28px;
  overflow: hidden;
  padding: 30px;
 }
 .logo-1400px-arr {
  position: absolute;
  top: 5px;
  left: 180px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 30px 0;
 }
 .logo-1400px-arr > img {
  width: 12px;
  overflow: hidden;
  /* padding-left: 5px; */
 }
 
 /* 헤더로고 */
 .header-logo {
  height: 90px;
  text-align: center;
 }
 .header-logo img {
  display: inline-block;
  width: 175px;
  height: 26px;
  margin: 40px 0 25px 0;
 }
 
 /* 헤더메뉴 */
 .gnb {
  /* display: flex; */
  position: relative;
  padding-top: 4px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  /* padding-bottom: 20px; */
 }
 
 .header-bottom {
  /* width: 1400px; */
 }
 .header-main {
  position: relative;
  /* max-width: 1400px; */
  margin: 0 auto;
 }
 .header-mainmenu {
  height: 40px;
  padding: 10px 0;
 }
 
 .header-mainmenu > li {
 }
 
 .header-mainmenu > li > a {
  display: inline-block;
  font-size: 18px;
  color: #222222;
  padding: 8px 0;
 }
 
 .category-hover {
  position: absolute;
  top: 4px;
  left: 50%;
  margin-left: -700px;
  display: block;
  font-size: 18px;
  height: 60px;
  margin-top: 7px;
 }
 
 .category-hover::before {
  display: inline-block;
  padding-right: 15px;
  width: 25px;
  height: 25px;
  background: url("../img/cate_icon.png") no-repeat center;
  content: "";
  vertical-align: -5px;
 }
 
 .dropdown {
  display: none;
  /* display: block; */
  position: absolute;
  width: 100%;
  height: 480px;
  top: 60px;
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 999;
 }
 .dropdown-menu {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -700px;
  width: 200px;
  height: 480px;
  padding-top: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
 }
 .dropdown-menu li {
 }
 
 .dropdown-menu li a {
  font-size: 16px;
  line-height: 45px;
 }
 .right-arr {
  content: "";
  display: none;
  /* display: block; */
  float: right;
  /* margin-right: 20px; */
  width: 40px;
  height: 40px;
  background: url("../img/right-arr12.png") no-repeat center;
  transform: translateY(5%);
  background-size: none;
 }
 
 .dropdown-sub {
  position: absolute;
  /* position: relative; */
  /* display: none; */
  display: block;
  top: 20px;
  left: -9999px;
  /* left: 50%;
   margin-left: -500px; */
  width: 1200px;
  height: 480px;
  padding-top: 20px;
 }
 
 .dropdown-sub ul {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
 }
 
 .dropdown-sub li a {
  font-size: 16px;
  line-height: 45px;
  padding-left: 30px;
 }
 
 .dropdown-img {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 50px;
  left: -9999px;
 }
 .dropdown-img>li {
   /* float: left; */
 }
 
 .dropdown-img li img {
  margin-left: 15px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
 }
 .dropdown-img li p {
  font-size: 15px;
  margin: 15px 0 0 15px;
 }
 
 .header-mainmenu:hover .dropdown {
  display: block;
 }
 
 .bed-hover:hover .right-arr,
 .mat-hover:hover .right-arr,
 .closet-hover:hover .right-arr,
 .sofa-hover:hover .right-arr,
 .kitc-hover:hover .right-arr,
 .desk-hover:hover .right-arr,
 .kid-hover:hover .right-arr,
 .warm-hover:hover .right-arr {
  display: block;
 }
 
 .bed-hover:hover .sub-bed,
 .mat-hover:hover .sub-mat,
 .closet-hover:hover .sub-closet,
 .sofa-hover:hover .sub-sofa,
 .kitc-hover:hover .sub-kitc,
 .desk-hover:hover .sub-desk,
 .kid-hover:hover .sub-kid,
 .warm-hover:hover .sub-warm {
  left: 100%;
  margin-top: -20px;
 }
 .bed-hover:hover .sub-bedimg,
 .mat-hover:hover .sub-matimg,
 .closet-hover:hover .sub-closetimg,
 .sofa-hover:hover .sub-sofaimg,
 .kitc-hover:hover .sub-kitcimg,
 .desk-hover:hover .sub-deskimg,
 .kid-hover:hover .sub-kidimg,
 .warm-hover:hover .sub-warmimg {
  left: 0;
  margin-left: 770px;
 }
 
 .menu_underbar li:hover a {
  text-decoration: underline;
  font-weight: 700;
 }
 
 .header-submenu {
  position: absolute;
  top: 4px;
  left: 50%;
  margin-left: -540px;
  display: flex;
  font-size: 18px;
  width: 584px;
  height: 40px;
  padding: 10px 0;
  justify-content: space-between;
 }
 .header-submenu li {
  position: relative;
  height: 40px;
  float: left;
 }
 .header-submenu li a {
  color: #222222;
 }
 .header-submenu li:last-child {
  padding-right: 50px;
 }
 
 .red-dot {
  position: absolute;
  width: 4px;
  height: 4px;
  top: -5px;
  right: -5px;
  background: #e32e07;
  border-radius: 50%;
 }
 
 /* 검색창 */
 .search {
  position: absolute;
  /* position: relative; */
  top: 5px;
  left: 50%;
  margin-left: 480px;
  /* display: inline-block; */
  /* float: right; */
  /* margin-top: -60px; */
  /* padding-right: 30px; */
  /* margin-right: 100px;  */
  width: 220px;
  height: 40px;
 }
 .header-search {
  border-bottom: 1px solid #000;
  overflow: hidden;
  padding: 0px 10px;
 }
 .search-text {
  height: 35px;
  width: 170px;
  border: 0;
  outline: 0;
  /* padding: 0 15px; */
  font-size: 14px;
  line-height: 35px;
  font-weight: 400;
 }
 .search-text::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
 }
 .search-bt {
  width: 20px;
  height: 20px;
  background: url("../img/search.png") no-repeat center;
  background-size: contain;
  border: 0;
  vertical-align: middle;
  cursor: pointer;
 }
 
 /* 반응형 */
 @media screen and (max-width: 1400px) {
  .header-top {
   height: 0;
   background: #fff;
  }
  .header-top-link {
   display: none;
  }
  .header-logo {
   display: none;
  }
  .header-1400px {
   position: relative;
   display: block;
  }
  .header-top-menu {
   display: block;
   position: absolute;
   /* width: 230px; */
   top: 38px;
   right: 35px;
   margin-right: 0;
  }
  .header-mypage-list li {
   margin-left: 18px;
  }
 
  .search {
   /* position: absolute; */
   /* display: flex; */
   position: relative;
   display: inline-block;
   float: right;
   margin-left: 0;
   padding-right: 30px;
   left: 0;
   top: -60px;
   /* margin-right: 30px; */
   /* right: 0; */
  }
 
  .category-hover {
   position: absolute;
   top: 4px;
   left: 0px;
   margin-left: 25px;
   display: block;
   font-size: 18px;
   height: 60px;
   margin-top: 7px;
  }
 
  .header-submenu {
   position: absolute;
   /* top: 4px; */
   left: 0px;
   /* left: 50%; */
   margin-left: 190px;
   /* display: flex; */
  }
 
  .dropdown-menu {
   position: absolute;
   top: 0px;
   left: 20px;
   margin-left: 20px;
  }
  .bed-hover:hover .sub-bedimg,
  .mat-hover:hover .sub-matimg,
  .closet-hover:hover .sub-closetimg,
  .sofa-hover:hover .sub-sofaimg,
  .kitc-hover:hover .sub-kitcimg,
  .desk-hover:hover .sub-deskimg,
  .kid-hover:hover .sub-kidimg,
  .warm-hover:hover .sub-warmimg {
   /* left: 50px; */
   /* margin-left: 720px; */
   position: absolute;
   margin-left: 0;
   left: 0;
   right: 0;
   margin-right: 30px;
  }
 }
 @media screen and (max-width: 1050px) {
  .dropdown-img {
   display: none;
  }
 }
 
 @media screen and (max-width: 760px) {
  .header {
   position: relative;
  }
  .header-mainmenu,
  .dropdown,
  .header-top-menu,
  .search {
   display: none;
  }
 
  .header-submenu {
   position: relative;
   margin-left: 20px;
   width: 420px;
   font-size: 17px;
  }
  .header-submenu li {
   padding-right: 20px;
  }
  .logo-1400px > img {
   position: relative;
   width: 100px;
   height: 26px;
   overflow: hidden;
   padding: 20px;
  }
  .logo-1400px-arr {
   /* position: absolute; */
   top: 5px;
   left: 140px;
   border: 2px solid rgba(0, 0, 0, 0.2);
   width: 15px;
   height: 15px;
   border-radius: 50%;
   margin: 20px 0;
  }
 }
 