/* 헤더상단 */

.header {
  margin-bottom: 150px;
}
.header-top {
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.05);
}
.header-top-link {
  height: 60px;
}

.offline {
  display: inline-block;
  width: 240px;
  height: 55px;
  background: #fff;
  border-radius: 15px 15px 0 0;
  margin: 12px 0;
}
.offline b {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-align: center;
  line-height: 13px;
}
.offline p {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #14008c;
  text-align: center;
  line-height: 13px;
}

.online {
  display: inline-block;
  width: 240px;
  height: 55px;
  border-radius: 15px 15px 0 0;
  margin: 12px 0;
}

.online b {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 13px;
}
.online p {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 13px;
}

.header-mypage-list {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
}

.header-mypage-list {
  padding-top: 10px;
}
.header-mypage-list li {
  float: left;
  padding: 15px;
}

.header-main {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* 헤더로고 */
.header-logo {
  height: 90px;
  text-align: center;
}
.header-logo img {
  display: inline-block;
  width: 175px;
  height: 26px;
  margin: 40px 0 25px 0;
}

/* 헤더메뉴 */
.gnb {
  position: relative;
}
.header-mainmenu {
  max-width: 1400px;
  height: 60px;
}

.header-mainmenu > li {
  font-size: 18px;
  float: left;
  margin-right: 50px;
}

.header-mainmenu > li > a {
  display: inline-block;
  margin: 10px 0;
}

.header-category-hover {
  display: block;
  height: 60px;
  font-size: 18px;
  background: lavender;
}

.header-category-hover img {
  width: 26px;
  height: 26px;
}

.header-menu-cate {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 480px;
  font-size: 18px;
  float: left;
  margin-right: 50px;

  background: lavender;
  z-index: 999999;
}

.header-cate-bed {
  position: absolute;
  display: inline-block;
  line-height: 5git0px;
  top: 60px;
  left: 200px;
  width: 100%;
  margin: 38px 0 0 30px;
}
