/* 플라잉 배너 */
.fix-banner {
  position: fixed;
  right: 50px;
  bottom: 70px;
  z-index: 999999;
  text-align: center;
}
.fix-banner a {
  display: block;
}

.fix-banner img {
  border-radius: 0 0 26px 26px;
  border: 0;
  width: 55px;
  height: 70px;
  margin-bottom: 15px;
  background: #14008c;
  background-size: 22px 22px;
  padding: 21px 15px;
}
.find-store {
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  width: 55px;
  height: 70px;
  text-align: center;
  border-radius: 26px 26px 0 0;
  border: 0;
  background: #14008c;
  color: #fff;
  cursor: pointer;
}

/* 헤더상단 */
.header {
  position: relative;
}

.header-top {
  height: 60px;
  background: rgba(0, 0, 0, 0.05);
}

/* 헤더 상단 좌측 링크 */
.header-top-link {
  position: absolute;
  height: 60px;
  top: 5px;
  left: 50%;
  margin-left: -700px;
}
.header-top-link a {
  line-height: 1.3;
}

.offline {
  display: inline-block;
  width: 240px;
  height: 55px;
  background: #fff;
  border-radius: 15px 15px 0 0;
  text-align: center;
}

.offline b {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.offline p {
  font-size: 12px;
  font-weight: 400;
  color: #14008c;
  padding-top: 10px;
}

.online {
  display: inline-block;
  width: 240px;
  height: 55px;
  text-align: center;
}

.online b {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}
.online p {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  padding-top: 10px;
}

/* 헤더 상단 우측 마이페이지 */

.header-top-menu {
  position: absolute;
  top: 23px;
  right: 50%;
  margin-right: -700px;
}
.header-mypage-list {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
}
.header-mypage-list li {
  float: left;
  margin-left: 30px;
}

/* 헤더 상단 1400px 이하 */
.header-1400px {
  position: relative;
  display: none;
}
.right-1400px {
}
.logo-1400px > img {
  position: relative;
  width: 130px;
  height: 28px;
  margin: 30px;
  overflow: hidden;
}
.logo-1400px-arr {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 7px;
  left: 180px;
  background: url("../img/logo_arr.png") no-repeat center;
  background-position: 1px 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 30px 0;
}
.logo-1400px-arr > img {
  width: 19px;
  overflow: hidden;
}
.header-1400px-dim {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.header-1400px-popup {
  position: absolute;
  display: block;
  width: 200px;
  height: 80px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #5E5E5E;
  top: 60px;
  left: 180px;
}


/* 헤더로고 */
.header-logo {
  height: 90px;
  text-align: center;
}
.header-logo img {
  display: inline-block;
  width: 175px;
  height: 26px;
  margin: 40px 0 25px 0;
}

/* 헤더 메뉴 */
.gnb {
  position: relative;
  padding-top: 4px;
}

.header-bottom {
}
.header-main {
  position: relative;
  margin: 0 auto;
}
.header-mainmenu {
  height: 60px;
  padding: 10px 0;
}

.header-mainmenu > li {
}

.header-mainmenu > li > a {
  display: inline-block;
  font-size: 18px;
  color: #222222;
  padding: 8px 0;
}

.category-hover {
  display: block;
  position: absolute;
  font-size: 18px;
  height: 60px;
  top: 4px;
  left: 50%;
  margin-left: -700px;
  margin-top: 7px;
}

.category-hover::before {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../img/cate_icon.png") no-repeat center;
  padding-right: 15px;
  content: "";
  vertical-align: -5px;
}

/* 드롭다운 메뉴 */
.dropdown {
  display: none;
  position: absolute;
  width: 100%;
  height: 480px;
  top: 60px;
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.dropdown-menu {
  position: absolute;
  width: 200px;
  height: 480px;
  top: 0;
  left: 50%;
  margin-left: -690px;
  padding-top: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.dropdown-menu li {
}

.dropdown-menu li a {
  font-size: 16px;
  line-height: 45px;
}
.right-arr {
  display: none;
  width: 40px;
  height: 40px;
  background: url("../img/right-arr12.png") no-repeat center;
  float: right;
  content: "";
  transform: translateY(5%);
  background-size: none;
}

.dropdown-sub {
  display: block;
  position: absolute;
  width: 1200px;
  height: 480px;
  top: 20px;
  left: -9999px;
  padding-top: 20px;
}

.dropdown-sub ul {
  position: absolute;
  top: 0;
  left: 0;
}

.dropdown-sub li a {
  font-size: 16px;
  line-height: 45px;
  padding-left: 30px;
}

.dropdown-img {
  display: flex;
  position: absolute;
  top: 50px;
  left: -9999px;
  justify-content: flex-end;
}
.dropdown-img > li {
}

.dropdown-img li img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-left: 15px;
}
.dropdown-img li p {
  font-size: 15px;
  margin: 15px 0 0 15px;
}

/* 드롭다운메뉴 마우스오버 적용 */
.header-mainmenu:hover .dropdown {
  display: block;
}

.bed-hover:hover .right-arr,
.mat-hover:hover .right-arr,
.closet-hover:hover .right-arr,
.sofa-hover:hover .right-arr,
.kitc-hover:hover .right-arr,
.desk-hover:hover .right-arr,
.kid-hover:hover .right-arr,
.warm-hover:hover .right-arr {
  display: block;
}

.bed-hover:hover .sub-bed,
.mat-hover:hover .sub-mat,
.closet-hover:hover .sub-closet,
.sofa-hover:hover .sub-sofa,
.kitc-hover:hover .sub-kitc,
.desk-hover:hover .sub-desk,
.kid-hover:hover .sub-kid,
.warm-hover:hover .sub-warm {
  left: 100%;
  margin-top: -20px;
}
.bed-hover:hover .sub-bedimg,
.mat-hover:hover .sub-matimg,
.closet-hover:hover .sub-closetimg,
.sofa-hover:hover .sub-sofaimg,
.kitc-hover:hover .sub-kitcimg,
.desk-hover:hover .sub-deskimg,
.kid-hover:hover .sub-kidimg,
.warm-hover:hover .sub-warmimg {
  left: 0;
  margin-left: 770px;
}

.menu_underbar li:hover a {
  font-weight: 700;
  text-decoration: underline;
}

/* 헤더 서브메뉴 */
.header-submenu {
  display: flex;
  position: absolute;
  font-size: 18px;
  width: 584px;
  height: 40px;
  top: 4px;
  left: 50%;
  padding: 10px 0;
  margin-left: -540px;
  justify-content: space-between;
}
.header-submenu li {
  position: relative;
  height: 40px;
  float: left;
}
.header-submenu li a {
  color: #222222;
}
.header-submenu li:last-child {
  padding-right: 50px;
}

.red-dot {
  position: absolute;
  width: 4px;
  height: 4px;
  top: -5px;
  right: -5px;
  background: #e32e07;
  border-radius: 50%;
}

/* 검색창 */
.search {
  position: absolute;
  width: 220px;
  height: 40px;
  top: 5px;
  left: 50%;
  margin-left: 480px;
}
.header-search {
  padding: 0px 5px;
  border-bottom: 1px solid #000;
  overflow: hidden;
}
.search-text {
  font-size: 14px;
  font-weight: 400;
  width: 185px;
  height: 35px;
  border: 0;
  outline: 0;
  line-height: 35px;
}
.search-text::placeholder {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.2);
}
.search-bt {
  width: 20px;
  height: 20px;
  background: url("../img/search.png") no-repeat center;
  border: 0;
  background-size: contain;
  vertical-align: middle;
  cursor: pointer;
}

/* 반응형 */
@media screen and (max-width: 1400px) {
  .header-top {
    height: 0;
    background: #fff;
  }
  .header-top-link {
    display: none;
  }
  .header-logo {
    display: none;
  }
  .header-1400px {
    display: block;
    position: relative;
  }
  .header-1400px-dim {
    display: block;
  }
  .header-top-menu {
    display: block;
    position: absolute;
    top: 38px;
    right: 35px;
    margin-right: 0;
  }
  .header-mypage-list li {
    margin-left: 18px;
  }
  .header-mainmenu {
  }
  .search {
    position: absolute;
    top: 0;
    left: 100%;
    float: right;
    margin-left: -250px;
  }

  .category-hover {
    display: block;
    position: absolute;
    font-size: 18px;
    height: 60px;
    top: 4px;
    left: 0px;
    margin-left: 25px;
    margin-top: 7px;
  }

  .header-submenu {
    position: absolute;
    left: 0px;
    margin-left: 190px;
  }

  .dropdown-menu {
    position: absolute;
    top: 0px;
    left: 20px;
    margin-left: 20px;
  }
  .dropdown-img {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .dropdown-img {
    display: none;
  }
  .category-hover {
    font-size: 16px;
    height: 60px;
    top: 2px;
    left: 0px;
    margin-left: 25px;
    margin-top: 7px;
  }
  .header-submenu {
    display: flex;
    font-size: 16px;
    width: 360px;
    left: -50px;
    padding: 10px 0;
    justify-content: space-between;
  }
  .header-submenu li:last-child {
    padding-right: 0px;
  }
}

@media screen and (max-width: 760px) {
  .fix-banner {
    display: none;
  }
  .header {
    position: relative;
  }
  .header-mainmenu,
  .dropdown,
  .header-top-menu,
  .search {
    display: none;
  }

  .header-submenu {
    position: relative;
    font-size: 17px;
    width: 420px;
    margin-left: 70px;
    margin-bottom: 20px;
  }
  .header-submenu li {
    padding-right: 20px;
  }
  .logo-1400px > img {
    position: relative;
    width: 100px;
    height: 26px;
    margin: 20px;
    overflow: hidden;
  }
  .logo-1400px-arr {
    width: 19px;
    height: 19px;
    /* position: absolute; */
    top: 5px;
    left: 140px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: 20px 0;
  }
  .red-dot {
    position: absolute;
    top: -4px;
    right: 16px;
  }
}
