* {
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 10px;
}
body {
  color: #333;
  font-family: "Noto Sans KR", "roboto", "sans-serif";
  font-size: 14px;
  word-break: keep-all;
}
/* 안내창 */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999999;
}
.modal-cont {
  padding: 20px;
  width: 700px;
  height: 430px;
  border-radius: 20px;
  background: #fff;
  text-align: center;
}
.modal-imprv {
  margin: 20px 0;
}
.modal-cont strong {
  font-size: 25px;
}
.modal-cont p {
  font-size: 20px;
  line-height: 20px;
  padding: 5px;
}
.modal-cont p:first-child {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 30px;
}
.modal-active {
  overflow: hidden !important;
}
.active-hide {
  overflow: hidden;
}
/* 공통클래스 */
.wrap {
  position: relative;
}
.inner {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}
.clearfix::after {
  display: block;
  position: relative;
  width: 100%;
  content: "";
  clear: both;
}
.inner h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
}