.media .inner {
  margin-bottom: 150px;
}
.media-info-mb {
  display: none;
  margin-bottom: 30px;
}
.media-info-mb > p {
  display: block;
  font-size: 16.8px;
}
.media-info-mb > span {
  display: block;
  margin-top: 10px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.56px;
}
.media-video {
  position: relative;
  max-width: 900px;
  width: 100%;
  height: 506px;
  float: left;
}
.media-video a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.media-video img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 12px;
  overflow: hidden;
}
.videoplay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  background: url("../img/btn_video_play.png") no-repeat;
}
.media-short {
  display: flex;
  padding-left: 50px;
  flex-direction: column;
}
.media-info-pc {
  padding: 20px 0 220px;
}
.media-info-pc > p {
  font-size: 20px;
}
.media-info-pc > span {
  display: inline-block;
  margin-top: 20px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.72px;
}
.sw-media {
  padding-top: 30px;
}
.md-slide img {
  width: 100%;
  border-radius: 5px;
}
.md-slide p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.m-sw-prev,
.m-sw-next {
  position: absolute;
  top: -5px;
}
.m-sw-prev {
  right: 64px;
  width: 27px;
  height: 27px;
  border: none;
  background: url("../img/selectbt.jpg") no-repeat center;
  transform: rotate(90deg);
}
.m-sw-next {
  right: 0;
  width: 27px;
  height: 27px;
  border: none;
  background: url("../img/selectbt.jpg") no-repeat center;
  transform: rotate(-90deg);
}
.m-sw-pagi {
  position: absolute;
  top: 0;
  right: 30px;
  left: unset;
  width: 30px;
}
.sw-media .swiper-pagination-current {
  font-weight: bold;
}
@media screen and (max-width: 1400px) {
  .media .inner {
    padding: 0 20px;
    max-width: 900px;
  }
  .media-info-mb {
    display: block;
  }
  .media-video {
    float: unset;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
  }
  .media-info-pc {
    display: none;
  }
  .media-short {
    padding-left: 0;
    margin-top: 20px;
  }
}
