.media {
  margin-top: 170px;
}
.media .inner {
}
.media-video {
  position: relative;
  width: 900px;
  height: 510px;
  float: left;
}
.media-video a {
}
.media-video img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 12px;
  overflow: hidden;
}
.media-short {
  display: flex;
  padding: 27px 0 220px 50px;
  flex-direction: column;
}
.media-short-info {
}
.media-short-info p {
  font-size: 20px;
}
.media-short-info span {
  display: inline-block;
  margin-top: 20px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.72px;
}
