.notice-shop {
  display: flex;
  justify-content: center;
  max-width: 1400px;
  gap: 0 20px;
  margin: 0 auto;
}
.notice-shop img {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
.notice-news {
  margin-top: 80px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding: 40px 0;
  overflow: hidden;
}
.notice-news h2 {
  width: 140px;
  font-size: 24px;
  font-weight: 700;
  float: left;
}
.wrap-notice-swiper {
  height: 30px;
}
.nt-slide a {
  display: block;
  padding-top: 5px;
}
.notice-title {
  font-size: 16px;
}
.notice-date {
  font-size: 16px;
  margin-left: 40px;
  color: #cecece;
  font-weight: 100;
}
.n-sw-prev {
  position: absolute;
  top: 50%;
  right: 50px;
  width: 40px;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  background: url("../img/btns.png") no-repeat;
  background-position: -76px;
  font-size: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 99;
}
.n-sw-next {
  position: absolute;
  top: 50%;
  right: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  background: url("../img/btns.png") no-repeat;
  background-position: -109px;
  font-size: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 99;
}
@media screen and (max-width: 1400px) {
  .notice-shop {
    flex-wrap: wrap;
    gap: 10px 0;
    padding: 0 20px;
  }
  .notice-news {
    margin-top: 40px;
  }
  .notice .inner {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1000px) {
  .notice-news h3 {
    float: unset;
    margin-bottom: 20px;
  }
  .nt-slide a {
    padding-top: 15px;
  }
  .n-sw-prev {
    top: 15%;
  }
  .n-sw-next {
    top: 15%;
  }
  .notice-date {
    float: right;
    margin-left: 10px;
  }
}
@media screen and (max-width: 700px) {
  .notice-title {
    display: inline-block;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 350px) {
  .notice-news {
    padding: 20px 0;
  }
  .notice-news h3 {
    font-size: 18.2px;
  }
  .notice-title {
    font-size: 11.6px;
  }
  .notice-date {
    font-size: 11.6px;
  }
  .n-sw-prev {
    right: 14%;
    width: 30px;
    height: 30px;
    background-position: -80px;
  }
  .n-sw-next {
    width: 30px;
    height: 30px;
    background-position: -114px;
  }
}
