.product {
  margin-bottom: 150px;
}
.product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-list > li:last-child {
  margin-right: 0;
}

.product-list li img {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  overflow: hidden;
}

.product-title {
  font-size: 18px;
  text-align: center;
  padding-top: 40px;
  color: #222;
}