.review {
  margin-bottom: 150px;
  padding: 100px 0;
  background: #f3f4f6;
  text-align: center;
}
.r-sw-prev.swiper-button-disabled,
.r-sw-next.swiper-button-disabled {
  display: none;
}
.r-sw-prev {
  font-size: 0;
  width: 30px;
  height: 60px;
  border: none;
  position: absolute;
  top: 50%;
  left: -40px;
  background: url("../img/review_arr.png") no-repeat;
  z-index: 99;
  transform: translate(0, 50%);
  cursor: pointer;
}
.r-sw-next {
  font-size: 0;
  width: 30px;
  height: 60px;
  border: none;
  position: absolute;
  top: 50%;
  right: -25px;
  background: url("../img/review_arr.png") no-repeat;
  background-position: -30px;
  z-index: 99;
  transform: translate(0, 50%);
  padding-left: 25px;
  cursor: pointer;
}
.review .inner h2 {
  display: inline-block;
  margin-bottom: 75px;
}
.rv-slide {
  width: 100%;
  padding: 15px;
  background: #fff;
  display: block;
}
.review-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
}
.review-img img {
  width: 100%;
}
.review-info {
  text-align: left;
  padding: 0 8px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.review-info span {
  font-size: 16px;
  letter-spacing: -0.32px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.review-subtitle {
  margin-top: 10px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 21px;
}
.review-id {
  margin-top: 10px;
  font-size: 14px;
}
.review-prod-img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  float: left;
}
.review-prod-img a {
  display: block;
  width: 100%;
  height: 100%;
}
.review-prod-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.review-prod-info {
  float: left;
  text-align: left;
  width: calc(100% - 80px);
  padding-left: 15px;
}
.review-heart {
  background: url("../img/reviewheart.svg") no-repeat center;
  background-size: cover;
  margin-bottom: 9px;
  font-size: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  filter: invert(75%);
  float: right;
}
.review-price {
  float: left;
  font-size: 13px;
}
.pricepd {
  padding-top: 30px;
}
.review-price p {
  letter-spacing: -0.32px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.review-price span {
  display: inline-block;
  margin-top: 10px;
}
@media screen and (max-width: 1470px) {
  .review .inner {
    padding: 0 35px;
  }
  .r-sw-prev {
    left: 10px;
  }
  .r-sw-next {
    right: 10px;
  }
  .review-price {
    padding-top: 30px;
    float: unset;
  }
  .review-subtitle {
    -webkit-line-clamp: 1;
  }
}
@media screen and (max-width: 1000px) {
  .review {
    padding: 70px 0;
  }
  .review .inner h2 {
    font-size: 22.4px;
  }
}
@media screen and (max-width: 760px) {
  .review {
    margin-bottom: 70px;
    padding: 40px 0;
  }
  .review .inner h2 {
    padding-top: 20px;
    margin-bottom: 50px;
  }
}
