.sns .inner {
  text-align: center;
  margin-bottom: 110px;
}
.sns-top {
  margin-bottom: 50px;
}
.sns-top span {
  display: inline-block;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 500;
}
.sns-middle {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 100%;
}
.sns-middle a {
  display: block;
  width: 260px;
  height: 260px;
}
.sns-middle img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.sns-bottom {
  margin-top: 60px;
}
.sns-bottom img {
  width: 45px;
  height: 45px;
  margin: 0 4.5px;
  object-fit: cover;
  opacity: 0.6;
}
.sns-bottom img:hover {
  opacity: 1;
}
@media screen and (max-width: 1400px) {
  .sns-middle {
    justify-content: space-between;
    padding: 0 20px;
  }
  .sns-middle a {
    width: 230px;
    height: 230px;
  }
}
@media screen and (max-width: 1260px) {
  .sns-middle a {
    min-width: 210px;
    min-height: 210px;
  }
}
@media screen and (max-width: 1170px) {
  .sns-middle a:last-child {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .sns-top h2 {
    font-size: 22.4px;
  }
  .sns-middle {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 120px;
  }
  .sns-middle a {
    min-width: 150px;
    min-height: 150px;
  }
  .sns-middle a:last-child {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .sns .inner {
    margin-bottom: 70px;
  }
  .sns-middle {
    padding: 0 20px;
  }
  .sns-middle a {
    max-width: 240px;
    max-height: 240px;
  }
}
@media screen and (max-width: 560px) {
  .sns-middle {
    gap: 10px;
  }
  .sns-middle a {
    max-width: 190px;
    max-height: 190px;
  }
}
@media screen and (max-width: 450px) {
  .sns-middle {
    gap: 5px;
  }
  .sns-middle a {
    max-width: 145px;
    max-height: 145px;
  }
}
