@charset "utf-8";
@import url("font.css");
@import url("gallery.css");
@import url("media.css");
@import url("header.css");
@import url("visual.css");
@import url("product.css");
@import url("event.css");
a {
  color: #000;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  vertical-align: middle;
  border: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: "Noto Sans KR", "맑은 고딕", "sans-serif";
}
/* 공통클래스 */
.inner {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}
.inner h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  color: #333;
}