.visual {
  width: 100%;
  margin-bottom: 100px;
}

.visual-slide {
  display: block;
  position: relative;
}
.sw-visual a img {
  width: 100%;
  height: auto;
}

.v-sw-prev {
  position: absolute;
  font-size: 0;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 7%;
  /* 버튼 중앙에 위치하기 */
  background: url("../img/main_slide_arr.png") no-repeat center;
  border: 0;
  background-position: 0%;
  transform: translate(50%, -50%);
  z-index: 9;
  cursor: pointer;
}

.v-sw-next {
  position: absolute;
  font-size: 0;
  width: 50px;
  height: 50px;
  top: 50%;
  right: 7%;
  /* 버튼 중앙에 위치하기 */
  background: url("../img/main_slide_arr.png") no-repeat center;
  border: 0;
  background-position: 100%;
  transform: translate(50%, -50%);
  z-index: 9;
  cursor: pointer;
}

.visual-mb {
  display: none;
}
.visual-slide .swiper-pagination {
  bottom: 50px;
  margin: 0px;
}
.visual-slide > .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0;
  width: 100px;
  height: 3px;
  opacity: 0.9;
}
.visual-slide > .swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 1);
  height: 5px;
  transform: translateY(1px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
}

@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 760px) {
  .visual-slide {
    width: 100%;
    height: 125vw;
  }
  .visual-mb {
    display: block;
  }
  .visual-img {
    display: none;
  }

  .visual-slide > .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0;
    width: 50px;
    height: 3px;
    opacity: 0.9;
  }
  .visual-slide > .swiper-pagination-bullet-active {
    background: rgba(255, 255, 255, 1);
    height: 5px;
    transform: translateY(1px);
  }

  .v-sw-next,
  .v-sw-prev {
    display: none;
  } 

}
